<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travello template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="login" method="post">
    {%csrf_token%}
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit">
</form>

    <div>
        {% for message in messages %}
          <h3>  {{message}} </h3>
        {%endfor%}
    </div>
 
</body>
</html>